---
import Standard from "@/layouts/standard.astro";
---

<Standard>
    <div class="p-10">
        <h2 class="text-xl font-semibold mb-3">Validation</h2>
        <p>
            I'm still working on this page, but we will populate it with mathematical evidence of the method, and especially the Tysen method.
        </p>
    </div>
</Standard>